[Unit]
Description=Ghost Cards API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=cedric
WorkingDirectory=/home/cedric/GhostCards/BackEnd
Environment="PATH=/home/cedric/GhostCards/BackEnd/.venv/bin"
ExecStart=/home/cedric/GhostCards/BackEnd/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
